 #About-us{
    display:flex;
    flex-direction: row;
    width:90%;
    margin:0 auto;
    height:400px;
    margin-bottom:40px;
}
#About-Content-section{
    width: 60%;
}

#About-Ad-section{
background-color:#f4cb58;
width:35%;
margin-left:8%;
}
h2{
    color:#43413d;
    font-weight:bolder;
    margin-left:15px;
    margin-top:10px;
    }
    p{
        margin-left:15px;
        color:#43413d;
    
    }
    h3{
        margin-left:15px;
        color:#43413d;
    }

    #why-choose-us{
        width:100%;
        background-color:#43413d;
        height:300px;
        color:white;
        display: flex;
        flex-direction:row;
        align-content: space-around;
    }
   
    #testimonial {
        background: url(../../assets/images/testimonial.jpeg) no-repeat scroll 0 0 / 100% 100%;
        color: #ccc;
        width:100%;
        height:900px;
    }
    #headline{
        font-size:40px;
        text-align:center;
    }