footer{
    background-color:#f4cb58;
    color:#43413d;
    font-size:14px;
    width:98%;
    margin:0 auto;
    height:400px;
    display:flex;
    flex-direction:row;
    font-size:18px;
    font-family:arial;

}
#footer-left-section{
 width:35%;
 background-color: aquamarine;
 height:400px;

}
#logo-content{
    padding:15%;
    font-size:18px;
    
}
#logobox{
    margin-bottom:30px;
}

#footer-right-section{
width:60%;
margin-left:8%;
background-color: bisque;
height:400px;
}

#right-section{
    padding:15%;
}
#heading{
    padding:3%;
}
#social-icons{
    display:flex;
    flex-direction:row;
    width:500px;
    background-color:black;
    height:70px;
    margin: 0 auto;
}