.side-drawer {
  height: 100%;
  background: #f7f7f6;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: slateblue;
}

.side-drawer a {
  color: seagreen;
  text-decoration: none;
  font-size: 1.7em;
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}
