.toolbar {
  position: fixed;
  width: 100%;
  background: #f7f7f6;
  height: 70px;
}

.toolbar_navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.toolbar_logo {
  margin-left: 1.5rem;
}

.toolbar_logo a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

.logo-nev-spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items a {
  color: #43413d;
  text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: rgb(6, 95, 10);
}

@media (max-width: 760px) {
  .toolbar_navigation-items {
    display: none;
  }
}

@media (min-width: 760px) {
  .toolbar_toggle-button {
    display: none;
  }
}
